a {
	color: rgb(255,255,255);
	text-decoration: none;
}

a:hover {
	color: rgb(255,212,0);
}

.container {
	height: 600px;
	background-color: rgb(16,16,16);

}

.header {
	height: 35px;
	background-color: rgb(57,56,55);
	border-bottom: 1px solid rgb(0,0,0);
}

.nav-bar {
	margin: 180px auto;
	width: 1212px;
	background-color: rgb(57,56,55); 
	border: 6px solid rgb(57,56,55);
}

.search-bar {
	position: relative;
	left: 989px;
	top: -58px;
	display: inline-block;
}

.search-bar input {
	padding: 0;
	width: 179px;
	height: 40px;
	color: rgb(200,200,200);
	font-size: 13px;
	text-align: center;
	border-width: 0;
	background-color: rgb(57,56,55);
	vertical-align: middle;
}

.search-bar button {
	float: right;/*dispel the difference between firefox and chrome*/
	margin-left: 1px;
	padding: 0;
	width: 40px;
	height: 40px;
	border-width: 0;
	background: rgb(57,56,55) url(../image/ZOOM.png) no-repeat center;
	box-sizing: border-box;
	vertical-align: middle;
}

nav {
	width: 1212px;
	height: 40px;
	border: 1px solid black;
	background-clip: content-box;
	background-color: rgb(23,23,22);
	/*background: linear-gradient(to top,rgba(0,0,0,1) 0%,rgba(255,255,255,1) 100%);
	box-shadow: 5px 5px 5px rgb(0,0,0) inset;*/
}

.nav-bar:before {
	content: "";
	position: absolute;
	display: inline-block;
	margin-left: -27px;
	width: 0;
	height: 0;
	border-width: 20px 14px 20px 0;
	border-style: solid;
	border-color: transparent rgb(57,56,55) transparent transparent; 
	/*transform: skewX(30deg);*/
}

.nav-bar:after {
	content: "";
	position: absolute;
	display: inline-block;
	margin: -42px 0 0 -14px;
	width: 9px;
	height: 40px;
	/*border-width: 0 1px 0 0;
	border-style: solid;
	border-color: transparent rgb(0,0,0) transparent transparent; */
	background-color: rgb(57,56,55);
}

nav:before {
	content: "";
	position: absolute;
	z-index: 2;
	display: inline-block;
	margin: 9px 0 0 -15px;
	width: 0;
	height: 0;
	border-width: 10px 11px 10px 0;
	border-style: solid;
	border-color: transparent rgb(22,22,21) transparent transparent;
}

nav:after {
	content: "";
	float: left;
	display: inline-block;
	margin: -49px 0 0 -5px;
	width: 7px;
	height: 20px; 
	background-color: rgb(22,22,21);
}

nav>ul:before {
	content: "";
	float: left;
	display: inline-block;
	margin: -12px 0 0 -45px;
	width: 1px;
	height: 10px; 
	background-color: rgb(57,56,55);
	border-width:  0 1px;
	border-style: solid;
	border-color: rgb(0,0,0);
}

nav>ul:after {
	content: "";
	float: left;
	display: inline-block;
	margin: 17px 0 0 -45px;
	width: 1px;
	height: 10px; 
	background-color: rgb(57,56,55);
	border-width:  0 1px;
	border-style: solid;
	border-color: rgb(0,0,0);
}

nav>ul>li:first-child:before {
	content: "";
	position: absolute;
	display: inline-block;
	margin: 31px 0 0 5px;
	width: 51px;
	height: 1px;
	background: linear-gradient(to right,rgba(66,65,64,1) 10%,rgba(74,73,72,1) 25%,rgba(211,211,210,1) 40%,
		                        rgba(211,211,220,1) 70%,rgba(74,73,72,1) 80%,rgba(66,65,64,1) 100%);
	
}

nav>ul>li:first-child:after {
	content: "";
	position: absolute;
	display: inline-block;
	margin: 30px 0 0 -27px;
	width: 0;
	height: 4px;
	box-shadow: 1px 0 13px 1px  #fff,-1px 0 13px 1px  #fff;
}

ul {
	margin-top: 12px;
	list-style-type: none;
}

li {
	display: inline-block;
	margin-right: 39px;
	height: 30px;
	color: rgb(255,255,255);
	font-weight: 600;
	font-size: 16px;
	list-style-type: none;
}

.second-nav ul,
.third-nav ul {
	position: absolute;
	display: none;
	width: 186px;
	padding: 0 0 1px 0;
	background-color: rgb(57,56,55);
}

.second-nav li,
.third-nav li {
	margin: 0;
	padding: 10px 0 11px 0;
	margin-left: 16px;
	width: 150px;
	height: auto;
	font-size: 14px;
	border-top: 1px solid rgb(32,32,32);
}

.second-nav li:before,
.third-nav li:before {
	content: "";
	position: absolute;
	display: inline-block;
	margin-top: 28px;
	width: 150px;
	height: 1px;
	background-color: rgb(61,61,60);
}

.second-nav li:hover,
.third-nav li:hover {
	margin-left: 0;
}

.second-nav li:first-child,
.third-nav li:first-child {
	border-top: 1px solid rgb(57,56,55);
} 

.second-nav li:last-child,
.third-nav li:last-child {
	padding-bottom: 20px;
	border-bottom: 0 solid rgb(16,16,16);
}

.second-nav li:last-child:before,
.third-nav li:last-child:before {
	background-color: transparent;
}

.second-nav li:last-child:after,
.third-nav li:last-child:after {
	content: "";
	position: absolute;
	display: inline-block;
	margin: 33px 0 0 -96px;
	width: 186px;
	height: 1px;
	background-color: rgb(16,16,16);
}

.second-nav ul {
	margin: 11px 0 0 11px;
}

.third-nav ul {
	margin:-27px 0 0 186px;
	border-left: 7px solid rgba(16,16,16,0);
	background-clip: padding-box;
}

.second-nav:after {
	content: "";
	position: relative;
	top: -3px;
	display: inline-block;
	width: 0;
	height: 0;
	border-width: 5px 4px 0 4px;
	border-style: solid;
	border-color: rgb(233,233,233) transparent transparent transparent; 
} 

.third-nav:after {
	content: "";
	float: right;
	display: inline-block;
	margin: 7px 0 0 0; 
	width: 0;
	height: 0;
	border-width: 5px 4px 0 4px;
	border-style: solid;
	border-color: rgb(233,233,233) transparent transparent transparent; 
	/*box-shadow: -1px 0 0 rgb(16,16,16); angly&unnoemal*/
}

.second-nav:hover,
 .third-nav:hover{
	color: rgb(255,212,0);
}

.second-nav:hover>ul {
	display: block;
}

.third-nav:hover>ul {
	display: block;
}

.second-nav li:hover {
	width: 186px;
	background-color: rgb(20,20,20);
	border-top:  1px solid rgb(57,56,55);
	
}

.second-nav li:hover+li {
	border-top:  1px solid rgba(16,16,16,0);
	
}

.third-nav ul >li:hover:before {
	content: "";
	display: inline-block;
	float: left;
	margin: 4px 25px 0 0;
	width: 0;
	height: 0;
	border-width: 4px 0 4px 5px;
	border-style: solid;
	border-color: transparent  transparent transparent rgb(255,212,0);
}

.third-nav:hover ul:before {
	content: "";
	float: left;
	display: inline-block; 
	margin: 1px 0 0 -193px;
	width: 186px;
	height: 1px;
	background-color: rgb(57,56,55);
}

.second-nav li:hover:before {
	content: "";
	position: static;
	display: inline-block;
	float: left;
	margin: 4px 25px 0 0;
	width: 0;
	height: 0;
	background-color: transparent;
	border-width: 4px 0 4px 5px;
	border-style: solid;
	border-color: transparent  transparent transparent rgb(255,212,0);
}

/*border-bottom style*/
.second-nav li:hover:after {
	content: "";
	position: absolute;
	display: inline-block;
	margin: -10px 0 0 -110px;
	width: 186px;
	height: 1px;
	background-color: rgb(57,56,55);
}

li.third-nav:hover:after {
	content: "";
	position: static;
	display: inline-block;
	margin: 5px 20px 0 0;
	width: 0;
	height: 0;
	background-color: transparent;
	border-width: 4px 0 4px 5px;
	border-style: solid;
	border-color: transparent  transparent transparent rgb(255,212,0);
}

